.login-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.2);
}

.game {
  max-height: 100%;

}

.card-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 250px));
  grid-template-rows: repeat(3, 200px);
  gap: 5px;

}

.card {
  /* width: 250px; */
  /* height: 350px; */
  padding: 20px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-blank {
  background: no-repeat center/contain url('./assets/card-back.jpg') !important;
}