.login-wrapper, .end-round {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.2);
}

.end-round {
  display: flex;
  flex-direction: column;

}

.game {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.gameplay {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(3, 200px);
  gap: 5px;

}

.card {
  padding: 20px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-blank {
  background: no-repeat center/contain url('./assets/card-back.jpg') !important;
}
